<div style="width: 100%; height: 100%; font-family: Arial, Helvetica, sans-serif; background-color: #f0f2fb; margin: 0; padding: 0;">
    <div style="max-width: 500px; margin-left: auto; margin-right: auto; background-color: white;">
        <div style="text-align: center;">
            <img src="_LOGO_URL" alt="Exenge Logo" style="width: 70px; height: 70px;">
        </div>
        <div style="background-color: #17bf9f; color: white; padding: 15px 10px; margin: 20px 0; text-align: center;">
            <p style="font-size: 16px;">Hi _USER_NAME_! See your account information below.</p>
        </div>
        <div style="text-align: center; padding: 0px 10px; color: #17bf9f;">
            <p style="font-size: 16px;"><span style="font-style: italic; font-weight: bold;">Name:</span> _NAME_</p>
            <p style="font-size: 16px;"><span style="font-style: italic; font-weight: bold;">Password:</span> _PASSWORD_</p>
        </div>
        <div style="padding: 10px; margin-top: 20px; background-color: #fee277">
            <div style="text-align: center;">
                <p style="color: #17bf9f; font-size: 14px; font-weight: bold;">&#169; Exenge _YEAR_</p>
            </div>
        </div>
    </div>
</div>